{% extends 'News/base.html' %}

{% block title %}Comments{% endblock %}

{% block content %}
    <h2>Comments</h2>
    <p></p>

    <!-- Display the submission -->
    <div id="submission">
        <!-- Aquí puedes agregar el contenido de la submission -->
    </div>

    <!-- Formulario para agregar un comentario -->
    <!--<form method="post" action="{% url 'add_comment' %}">
        {% csrf_token %}
        <textarea name="comment" ></textarea>
        <button type="submit">add Comment</button>
    </form>-->

    <!-- Mostrar los comentarios existentes -->
<ul>
    {% for comment in comments %}
        <li>{{ comment.text }} (on {{ comment.submission.title }})</li>
    {% endfor %}
</ul>

    <!-- Aquí puedes agregar la lógica para mostrar los comentarios existentes -->
{% endblock %}
