{% extends 'News/base.html' %}

{% block title %}Comments{% endblock %}

{% block content %}
    <h2>Comments</h2>
    <!-- Mostrar todos los comentarios -->
    <table class="comment-table" border="0">
        {% for comment in comments %}
            <tr class="athing comtr">
                <td>
                    <div class="comment">
                        <span class="commtext">
                            {{ comment.text }}
                        </span>
                        <div class="comment-meta">
                            <span class="comhead">
                                {% if comment.author %}
                                    <a href="{% url 'profile' comment.author.username %}" class="hnuser">
                                        {{ comment.author.username }}
                                    </a>
                                {% else %}
                                    <span class="hnuser">anonymous</span>
                                {% endif %}
                                <span class="age" title="{{ comment.created_at }}">
                                    {{ comment.created_at|timesince }} ago
                                </span>
                                {% if comment.submission %}
                                    on: 
                                    <a href="{% url 'submission_comments' comment.submission.id %}">
                                        {{ comment.submission.title }}
                                    </a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    <br><br>
                </td>
            </tr>
        {% empty %}
            <tr>
                <td>No comments yet.</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
