<!-- News/templates/news/submission_comments.html -->

{% extends 'News/base.html' %}

{% block content %}
<table>
    <tr class='athing' id='{{ submission.id }}'>
        <td align="right" valign="top" class="title">
            <span class="rank">{{ forloop.counter }}.</span>
        </td>
        <td class="title">
            <span class="titleline">
                <a href="{{ submission.url }}">{{ submission.title }}</a>
                {% if submission.url %}
                    <span class="sitebit comhead">({{ submission.url }})</span>
                {% endif %}
            </span>
        </td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="subtext">
            <span class="score">{{ submission.points }} points</span> by {{ submission.user.username }}
            <span class="age">{{ submission.created_at|timesince }} ago</span>
            | <a href="{% url 'submission_comments' submission.id %}">
                {{ submission.submission_comments.count }} comments</a>
        </td>
    </tr>
</table>

<form method="post" action="{% url 'create_comment' submission.id %}">
    {% csrf_token %}
    <textarea name="text"></textarea>
    <button type="submit">add comment</button>
</form>

<ul>
    {% for comment in submission.submission_comments.all %}
        {% if not comment.parent %}
            {% include 'news/comment_item.html' with comment=comment %}
        {% endif %}
    {% endfor %}
</ul>
{% endblock %}