{% extends 'News/base.html' %}

{% block title %}Submit{% endblock %}

{% block content %}
<html lang="es">
    <head>
        <meta name="referrer" content="origin">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        Debes iniciar sesión para enviar.<br>
        <br>
        <b>Iniciar sesión</b>
        <br>
        <br>
        <form action="{% url 'submit' %}" method="post">
            {% csrf_token %}
            <table border="0">
                <tr>
                    <td>usuario:</td>
                    <td>
                        <input type="text" name="username" size="20" autocorrect="off" spellcheck="false" autocapitalize="off" autofocus="true">
                    </td>
                </tr>
                <tr>
                    <td>contraseña:</td>
                    <td>
                        <input type="password" name="password" size="20">
                    </td>
                </tr>
            </table>
            <br>
            <input type="submit" value="iniciar sesión">
        </form>
        <br>
        <br>
        <b>Crear cuenta</b>
        <br>
        <br>
        <form action="{% url 'submit' %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="creating" value="t">
            <table border="0">
                <tr>
                    <td>usuario:</td>
                    <td>
                        <input type="text" name="username" size="20" autocorrect="off" spellcheck="false" autocapitalize="off">
                    </td>
                </tr>
                <tr>
                    <td>contraseña:</td>
                    <td>
                        <input type="password" name="password" size="20">
                    </td>
                </tr>
            </table>
            <br>
            <input type="submit" value="crear cuenta">
        </form>
    </body>
</html>
{% endblock %}
