<!-- News/templates/news/submission_comments.html -->

{% extends 'News/base.html' %}

{% block content %}
<table>
    <tr class='athing' id='{{ submission.id }}'>
        <td align="right" valign="top" class="title">
            <span class="rank">{{ forloop.counter }}.</span>
        </td>
        <td class="title">
            <span class="titleline">
                <a href="{{ submission.url }}">{{ submission.title }}</a>
                <span class="sitebit comhead">({{ submission.domain }})</span>
            </span>
        </td>
    </tr>
    <tr>
        <td colspan="2"></td>
        <td class="subtext">
            <span class="score">{{ submission.points }} points</span> by {{ submission.user.username }}
            <span class="age">{{ submission.created_at|timesince }} ago</span>
            | <a href="{% url 'submission_comments' submission.id %}">{{ submission.comment_count }} comments</a>
        </td>
    </tr>
</table>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Add Comment</button>
</form>

<ul>
    {% for comment in comments %}
        <li>{{ comment.text }} ({{ comment.created_at|timesince }} ago)</li>
    {% endfor %}
</ul>
{% endblock %}